.apartment-form{
    min-width: 250px;
    max-width: 600px;
    width: 90%;
    margin: 0; /* Eliminar el margen exterior */
    padding: 0; 
  }
  
  .apartment-full-width {
    width: 100%;
  }
  
  td {
    padding: 0; /* Eliminar el relleno interior */
  }

  .apartment-numbers-width {
    width: 80%;
  }

  .apartment-half-width {
    width: 50%;
  }
  